.app {
    display: flex;
    flex-direction: row;
  }
  .music-player {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
  }
.music-player-title {
    color:green;
    font-weight: bold;
}
.music-name {
  color: orange;
  font-weight: bold;
}
.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-app {
  margin-top: 50px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
body, html {
  height: 100%;
   /* The image used */
   background-image: url("starfall.gif");

   /* Full height */
   height: 100%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 95%;
  color: white;
  text-align: right;
}


